:root {
  /* Renkler */
  --primary-color: #296573;
  --on-primary-color: #FFFFFF;
  --title-color: #313131;
  --icon-color: #555555;
  --border-color: #DBDFE9;
  --card-border-color: #F1F1F4;
  --text-primary: #071437;
  --text-secondary: #4B5675;
  --text-muted: #252F4A;
  --text-inverted: #FFFFFF;
  --card-background: #FCFCFC;

  /* Tipografi */
  --font-family: 'Inter';
  --font-size-sm: 13px;
  --font-size-base: 14px;
  --font-size-lg: 16px;
  --font-size-xl: 32px;
  --font-size-xxl: 56px;
  --font-weight-normal: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 80px;
  padding: 0px 163px;
  background-color: var(--primary-color);
}

.header-title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  color: var(--text-inverted);
}

.header-logo {
  height: 29px;
}

@media (max-width: 480px) {
  .header {
    padding: 0px 20px;
    height: 6vh;
    width: 100%;
    justify-content: space-between;
  }

  .header-title {
    font-size: var(--font-size-lg);
  }

  .header-logo {
    height: 20px;
  }

}